---
layout: default
---

<h1><font color="##3B5998"><b>News!</b></font></h1>
<p><font color="orange"><b>Cristiano Roaldo Won his 5th Ballon D'Or!</b></font></p>

<ul>
{% for news in site.categories.female limit:2 %}
	<li>
		<a href="{{news.source}}" target="_blank">{{news.title}}</a>
		<p>{{news.meta}}</p>
	</li>
{% endfor %}
</ul>

<hr>

<ul>
{% for news in site.categories.male limit:2 %}
	<li>
		<a href="{{news.source}}" target="_blank">{{news.title}}</a>
		<p>{{news.meta}}</p>
	</li>
{% endfor %}
</ul>
